body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@font-face {
	font-family: 'Helvetica-Roman';
	src: url('helveticaneueltstd-roman.eot');
	src: url('helveticaneueltstd-roman.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltstd-roman.woff') format('woff'),
			 url('helveticaneueltstd-roman.ttf') format('truetype'),
			 url('helveticaneueltstd-roman.svg#helveticaneueltstd-roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Lt';
	src: url('helveticaneueltstd-lt.eot');
	src: url('helveticaneueltstd-lt.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltstd-lt.woff') format('woff'),
			 url('helveticaneueltstd-lt.ttf') format('truetype'),
			 url('helveticaneueltstd-lt.svg#helveticaneueltstd-lt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-UltLt';
	src: url('helveticaneueltstd-ultlt.eot');
	src: url('helveticaneueltstd-ultlt.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltstd-ultlt.woff') format('woff'),
			 url('helveticaneueltstd-ultlt.ttf') format('truetype'),
			 url('helveticaneueltstd-ultlt.svg#helveticaneueltstd-ultlt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-UltLtIt';
	src: url('helveticaneueltstd-ultltit.eot');
	src: url('helveticaneueltstd-ultltit.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltstd-ultltit.woff') format('woff'),
			 url('helveticaneueltstd-ultltit.ttf') format('truetype'),
			 url('helveticaneueltstd-ultltit.svg#helveticaneueltstd-ultltit') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Bd';
	src: url('helveticaneueltstd-bd.eot');
	src: url('helveticaneueltstd-bd.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltstd-bd.woff') format('woff'),
			 url('helveticaneueltstd-bd.ttf') format('truetype'),
			 url('helveticaneueltstd-bd.svg#helveticaneueltstd-bd') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Md';
	src: url('helveticaneueltstd-md.eot');
	src: url('helveticaneueltstd-md.eot?#iefix') format('embedded-opentype'),
			 url('helveticaneueltstd-md.woff') format('woff'),
			 url('helveticaneueltstd-md.ttf') format('truetype'),
			 url('helveticaneueltstd-md.svg#helveticaneueltstd-md') format('svg');
	font-weight: normal;
	font-style: normal;
}